APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:jJFTWc2unWv8tK0C/Ugtq0Q3laDurQTMUnQGmp95cLo=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=rofadb
DB_USERNAME=rofapguser
DB_PASSWORD=RoFA@2019

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

DO_SPACES_KEY=RYFSSW2U6JJCKV7NIP62
DO_SPACES_SECRET=5lBUgelbNBJa8aK5dhujIK/KWw8xUZNGhOAACAwmmaU
DO_SPACES_ENDPOINT=sgp1.digitaloceanspaces.com
DO_SPACES_REGION=SGP1
DO_SPACES_BUCKET=needmorespace
DO_CDN=https://cdn.adjust.my.id

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
