/** RoFA Official website stylesheet **/

html, body {
	margin: 0;
}

section {
	overflow: hidden;
}

.container-fluid {
	margin: 0!important;
	padding: 0!important;
	background-color: #000;
}

.mobile_hide {
	display: block;
}

.desktop_hide {
	display: none!important;
}

.navbar-logo {
	margin-left: 50px;
	margin-right: 50px;
}

.nav-item a {
	color: #fff;
	padding: 5px 25px;
	font-weight: 500;
}

.nav-item a:hover {
	color: #ccc;
	text-decoration: none;
}

.nav-left .nav-item a {
	margin-left: 50px;
}

.nav-right .nav-item a {
	margin-right: 50px;
}

.navbar-toggler {
	color: #fff;
}

.right-border-white {
	border-right: 2px solid #fff;
}

.space-100 {
	padding-top: 100px;
}

.space-30 {
	padding-top: 30px;
}

.rofa-home {
	display: flex;
	height: calc(100vh - 160px);
	align-items: center;
}

.rofa-home h1 {
	font-family: "Bebas Neue Regular";
	font-size: 50px;
	color: #fff;
}

.rofa-home h3 {
	font-family: "Avenir Medium";
	font-size: 24px;
	color: #ff6600;
}

.video-bg {
	width: 100%;
	z-index: 10;
}

.video-bg video {
	width: 100%;
	opacity: .6;
}

.home-title {
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 11;
}

.rofa-about {
	background-image: url('../images/about-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.rofa-about .row {
	min-height: 100vh;
}

.rofa-about img {
	height: 320px;
}

.about-title {
	font-family: "Panton Black Italic Caps";
	color: #fff;
}

.about-desc {
	font-family: "Bebas Neue Regular";
	color: #fff;
	padding-right: 50px;
}

.btn-orange {
	background-color: #ff6600!important;
	color: #fff!important;
	padding: 10px 30px!important;
	border-radius: 0!important;
	font-family: "Panton Black Italic Caps"
}

.btn-orange:hover {
	background-color: #fff!important;
	color: #ff6600!important;
}

.rofa-forum {
	min-height: 15rem;
	text-align: center;
	background-image: url('../images/forum-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.rofa-forum h1 {
	font-family: "Panton Black Italic Caps";
	color: #fff;
}

.rofa-newsarticles {
	min-height: 80vh;
	background-color: #fff;
	text-align: center;
}

.rofa-newsarticles h1 {
	font-family: "Bebas Neue Bold";
	font-size: 60px;
	color: #000;
	margin-top: 30px;
}

.rofa-newsarticles h1:before, .rofa-newsarticles h1:after {
	content: "";
	position: absolute;
	width: 25%;
	height: 5px;
	background-color: #000;
	margin-top: 30px;
}

.rofa-newsarticles h1:before {
	right: 65%;
}

.rofa-newsarticles h1:after {
	left: 65%;
}

.rofa-newsarticles .row {
	padding-left: 10%;
	padding-right: 10%;
}

.news-thumbnails {
	position: relative;
	height: 200px;
	transition: .2s;
	-webkit-transition: .2s;
}

.news-thumbnails:hover {
	opacity: .7;
}

.news-thumbnails img {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.news-image-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 150px;
	background-image: url('../images/news-overlay.png');
	background-repeat: repeat-x;
}

.news-thumbnails h3 {
	position: absolute;
	bottom: 0;
	left: 5px;
	margin-bottom: 0;
	color: #fff;
	font-family: "Bebas Neue Bold";
}

.rofa-newsarticles p {
	margin-top: 20px;
	text-align: justify;
}

.rofa-discoverjourney {
	min-height: 100vh;
	background-image: url('../images/discover-journey-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

.rofa-discoverjourney h1{
	font-family: "Panton Black Caps";
	color: #fff;
	margin-top: 30px;
}

.rofa-discoverjourney ul {
	justify-content: center;
}

.rofa-discoverjourney .nav-link {
	font-family: "Panton Light Caps";
	font-size: 24px;
}

.rofa-discoverjourney .nav-link.active {
	font-family: "Panton Black Caps";
}

.stage-content {
	margin-top: 50px;
	padding-left: 10%;
	padding-right: 10%;
	color: #fff;
}

.stage-content p {
	font-family: "Avenir Medium";
	text-align: left;
}

.stage-content a {
	color: #fff;
	transition: .2s;
	-webkit-transition: .2s;
}

.stage-content a:hover {
	color: #fff;
	text-decoration: none;
	opacity: .7;
}

.rofa-footer {
	background-color: #000;
	padding-top: 30px;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 30px;
	color: #fff;
}

.footer-logo {
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.rofa-footer p, .footer-sosmed {
	text-align: center;
}

.rofa-footer h3 {
	font-family: "Panton Black Caps";
	font-size: 20px;
}

.footer-sosmed i {
	font-size: 20px;
	padding: 10px;
}

.rofa-footer ul {
	padding-left: 0;
}

.rofa-footer ul li {
	list-style: none;
}

.rofa-footer a {
	color: #fff;
}

.rofa-footer a:hover {
	color: #fff;
	opacity: .7;
	text-decoration: none;
}

@media screen and (max-width: 425px) and (orientation: portrait) {

	.mobile_hide {
		display: none!important;
	}

	.desktop_hide {
		display: block;
	}

	.navbar-logo {
		margin-right: 0px;
	}

	.nav-brand img {
		width: 120px;
	}

	.navbar-toggler {
		position: relative;
		left: 40px
	}

	.overlay-menu {
		display: none;
		width: 100%;
		min-height: 100%;
		background-color: rgba(0,0,0,.7);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		color: #fff;
		text-align: center;
		transition: all .5s ease-in-out ;
		z-index: 100;
		opacity: 0;
	}

	.overlay-menu.collapse, .overlay-menu.show {
		display: block;
		opacity: 1;
	}

	.overlay-content {
		margin-top: 100px;
		font-size: 30px;
	}

	.overlay-menu span.close {
		font-size: 40px;
		color: #fff;
		position: absolute;
		top: 0;
		right: 0;
	}

	.rofa-home {
		height: calc(100vh - 120px);
	}

	.video-bg video {
		width: unset;
		height: 100%;
		float: right;
	}

	.home-title {
		padding: 15px;
	}

	.rofa-about img {
		width: 90%;
		height: auto;
		margin-top: 40px;
	}

	.rofa-about a {
		text-align: center;
	}

	.about-title {
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;
	}

	.about-desc {
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;
	}

	.rofa-newsarticles h1 {
		margin-bottom: 20px;
	}

	.rofa-newsarticles h1:before, .rofa-newsarticles h1:after {
		display: none;
	}

	.rofa-newsarticles .row .news {
		margin-bottom: 30px;
	}

	.rofa-discoverjourney .row .col {
		min-width: 50%;
	}

	.rofa-footer .row .col-md-3, .rofa-footer .row .col-md-6, .rofa-footer .row .col {
		text-align: center;
	}
}